@import '../../theme/_fonts.scss';

.carousel {
    // margin-top: 3rem;
    // margin-bottom: 3rem;
}

.text {
    margin-top: 3rem;
    text-align: center;
    font-family: $title;
}

.wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
